PORT=3006
HOST=0.0.0.0
#NODE_ENV=development
NODE_ENV=production

# Configuración de Base de Datos para Prisma (PostgreSQL)
# Para desarrollo local con docker: postgresql://nanoclean_user:nanoclean_password@localhost:5432/nanoclean_db?schema=public
# Para producción: postgresql://nanoclean_user:nanoclean_password@127.0.0.1:5432/nanoclean_db?schema=public
DATABASE_URL="postgresql://nanoclean_user:nanoclean_password@localhost:5432/nanoclean_db?schema=public"

# Conexión a MQTT Broker (HiveMQ u otro)
MQTT_BROKER_URL="mqtts://tu-broker-id.hivemq.cloud"
MQTT_USERNAME="tu_usuario_mqtt"
MQTT_PASSWORD="tu_password_mqtt"
